{% extends "core/base.html" %}
{% load static %}

{% block title %}SkyNova • 首页{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/theme-dark.css' %}">
{% endblock %}
{% block body_class %}dark-theme{% endblock %}

{% block content %}
<div class="hero" id="hero">
  <video id="bg-video" autoplay muted loop>
    <source src="{% static 'media/flight.mp4' %}" type="video/mp4">
  </video>
  <div class="hero-content">
    <h1>标语</h1>
    <!-- 新的卡片容器：宽度 4/6，居中 -->
    <div class="card-container">
      <a href="{% url 'products' %}" class="card text-white bg-dark">
        <div class="card-body  d-flex flex-column align-items-center gap-2">
          <h3 class="card-title">产品中心</h3>
          <p class="discription">本公司的所有产品</p>
        </div>
      </a>
      <a href="{% url 'industry' %}" class="card text-white bg-dark">
        <div class="card-body  d-flex flex-column align-items-center gap-2">
          <h3 class="card-title">行业解决方案</h3>
          <p class="discription">针对不同行业的难题，我们提供了不同的解决方案</p>
        </div>
      </a>
      <a href="{% url 'news_list' %}" class="card text-white bg-dark">
        <div class="card-body  d-flex flex-column align-items-center gap-2">
          <h3 class="card-title">新闻动态</h3>
          <p class="discription">看看我们的最新成果！</p>
        </div>
      </a>
    </div>
  </div>
</div>
<script>
document.addEventListener('DOMContentLoaded', () => {
  const video = document.getElementById('bg-video'),
        hero = document.getElementById('hero');
  setTimeout(() => {
    video.classList.add('fade-out');
    hero.classList.add('active');
  }, 1000);
});
</script>
{% endblock %}

